<!-- Footer -->
<footer id="footer">
    <section class="split contact">
        <section class="alt">
            <h3>Websites</h3>
            <p>
                <a href="https://TheSlowLoris.com/" target="_blank">The Slow Loris</a><br />
                <a href="https://mc.NorthLore.dk/" target="_blank">Minecraft Server</a>
            </p>
        </section>
        <section class="alt">
            <h3>Support</h3>
            <p>
                <a href="https://ko-fi.com/masteralerion" target="_blank">Ko-Fi</a>
            </p>
        </section>
    </section>
    <section class="split contact">
        <section class="alt">
            <h3>Contact</h3>
            <p>
                email@nopetown.net<br />
                +45 88 88 88 88
            </p>
        </section>
        <section>
            <h3>Social</h3>
            {% include "_base/socials.njk" %}
        </section>
    </section>
</footer>

<!-- Copyright -->
<div id="copyright">
    <ul>
        <li>&copy; NorthLore</li>
        <li>
            Design:
            <a href="https://html5up.net/massively" target="_blank">HTML5 UP</a>
        </li>
    </ul>
</div>