<!-- Footer -->
<footer id="footer">
    <section class="split contact">
        <section class="alt">
            <h3>Websites</h3>
            <p>
                <a href="https://mc.NorthLore.dk/" target="_blank">Minecraft Server</a>
            </p>
        </section>
        <section class="alt">
            <h3>Shops &amp; Support</h3>
            <p>
                <a href="https://www.amazon.com/stores/Mathias-Alerion/author/B0CCF7KX47" target="_blank">Amazon Author Page</a><br>
                <a href="https://ko-fi.com/masteralerion" target="_blank">Ko-Fi</a><br>
                <a href="https://www.redbubble.com/people/MasterAlerion/shop" target="_blank">RedBubble</a><br>
            </p>
        </section>
    </section>
    <section class="split contact">
        <section class="alt">
            <h3>Contact</h3>
            <p>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </p>
        </section>
        <section>
            <h3>Socials</h3>
            {% include "_base/socials.njk" %}
        </section>
    </section>
</footer>

<!-- Copyright -->
<div id="copyright">
    <ul>
        <li>&copy; NorthLore</li>
        <li>
            Design: <a href="https://html5up.net/massively" target="_blank">HTML5 UP</a>
        </li>
    </ul>
</div>