<ul class="icons">
    <li>
        <a href="https://x.com/MasterAlerion" class="icon brands fa-twitter" target="_blank">
            <span class="label">X</span>
        </a>
    </li>
    <li>
        <a href="https://instagram.com/MasterAlerion" class="icon brands fa-instagram" target="_blank">
            <span class="label">Instagram</span>
        </a>
    </li>
</ul>
