<ul class="icons">
    <li>
        <a href="{{ site.twitter }}" class="icon brands fa-twitter" target="_blank">
            <span class="label">X</span>
        </a>
    </li>
    <li>
        <a href="{{ site.instagram }}" class="icon brands fa-instagram" target="_blank">
            <span class="label">Instagram</span>
        </a>
    </li>
    <li>
        <a href="{{ site.discord }}" class="icon brands fa-discord" target="_blank">
            <span class="label">Discord</span>
        </a>
    </li>
</ul>
