---
layout: _base.njk
---

<!-- Main -->
<div id="main">
    <!-- Post -->
    <section class="post">
        <header class="major">
            <span class="date">April 25, 2017</span>
            <h1>{{ title | safe }}</h1>
            <p>{{ summary | safe }}</p>
        </header>
        <div class="image main"><img src="{{ featuredImage }}" alt="" /></div>
        <p>{{ content | safe }}</p>
    </section>
</div>