{% include "_base/head.njk" %}

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
        {% if title == "North Lore" %}
        <!-- Intro -->
        <div id="intro">
            <h1>{{ site.name }}</h1>
            <h2>by {{ site.author }}</h2>
            <p>
                {{ site.description }}
            </p>
            <ul class="actions">
                <li>
                    <a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a>
                </li>
            </ul>
        </div>
        {% endif %}

        <!-- Header -->
        <header id="header">
            <a href="/" class="logo">{{ title }}</a>
        </header>

        {% include "_nav.njk" %}

        {{ content | safe }}

        {% include "_base/footer.njk" %}
    </div>

    <!-- Scripts -->
    {% include "_base/scripts.njk" %}
</body>

</html>