{% set story = collections.featured | random %}

<article class="post featured">
  <header class="major">
    <span class="date">Featured</span>
    <h2>
      <a href="{{ story.url }}">{{ story.data.title }}</a>
    </h2>
    <h6>{{ story.data.tags }}</h6>
    <div>
      {{ story.data.summary | truncate(500) | safe }}
    </div>
  </header>
  <ul class="actions special">
    <li><a href="{{ story.url }}" class="button large">Full Story</a></li>
  </ul>
</article>