<article>
  <header>
    <span class="date">{{ story.data.date | format_date() }}</span>
    <h2>
      <a href="{{ story.url }}">{{ story.data.title }}</a>
    </h2>
  </header>
  <div style="font-style: italic">
    {{ story.data.summary | truncate(150) | safe }}
  </div>
  <ul class="actions special">
    <li><a href="{{ story.url }}" class="button">Full Story</a></li>
  </ul>
</article>
