
h2 {
    margin: 0 0 0.5rem 0;
}

h6 {
    font-weight: lighter;
    color: grey;
}

.image_preview {
    height: 400px;
    object-position: center;
    object-fit: cover;
}

.image_featured {
    height: 300px;
    object-position: center;
    object-fit: cover;
}