---
layout: _base.njk
title: North Lore
collectionName: "posts"
---

<!-- Main -->
<div id="main">
    <!-- Featured Post -->
    {% include "post_featured.njk" %}

    <!-- Posts -->
    <section class="posts">
        {% for story in collections.posts | reverse | limit(6) %}
            {% include "post_preview.njk" %}
        {% endfor %}
    </section>
</div>