---
layout: _base.njk
title: Lore
permalink: /lore/index.html
---

<!-- Main -->
<div id="main">

    <h>Here be Lore</h>

    <!-- Posts -->
    <section class="posts">
        {% for story in collections.lore | limit(10) | reverse %}
            {% include "lore_preview.njk" %}
        {% endfor %}
    </section>
</div>