---
tags: lore
layout: _article.njk
title: "Lost in Sweeden"
date: "2050-11-30"
summary: "After great travels into the cold land, we lost transportation on the way home"
---

<p>
We walked many miles and got a lift to a town. We searched far and wide to find shelter. Finally a young inn keeper saved us. 
In the morning we raced against time to get to the boat, back to the home land. 
</p>
