---
tags: lore
layout: _article.njk
title: "The Wicked Woodland Witch of the West Village"
date: "2025-12-26"
featuredImage: "/images/witch.jpg"
summary: "I traveled far west to meet the old witch"
---

<p>
Maybe she is not as bad as the stories let us to believe
</p>
<p>
The rest of the story goes dow here. 
</p>